POSTGRES_DB=transcripts
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,backend
DATABASE_URL=postgres://postgres:postgres@db:5432/transcripts

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
